body{
    background-color: #e2cfea;
    text-align:center;
}

.logo{
    max-width: 100px;
    max-height: 100px;
    display: inline-block
}

.produto{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}

.paleta{
    max-width: 100px;
    max-height: 100px;
    display: inline-block;   
}

.descrição{
    color: blueviolet;
}

.info{
    text-align: center;
    color:#551a8b ;
}

.texto{
    text-align: center;
}

.deslocamento{
  color: purple;
  font-family: sans-serif;
  margin-left: 100px;
}

.label{
    color: purple;
    margin-top: 100px;
}

.mensagem{
    width:800px;
    margin-bottom: 100px;
}

.duvida{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.button{
   position: relative;
}

.limpar{
    margin-bottom: 100px;
}

.resumo{
    color: black;
    margin-top: 150px;
}