body{
    background-color:#9f79ee;
    background-repeat: no-repeat;
}

.logo{
    max-width: 100px;
    max-height: 100px;
    display: inline-block
}
.produto{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}

.paleta{
    max-width: 100px;
    max-height: 100px;
    display: inline-block;   
}

.descrição{
    color: blueviolet;
}

.info{
    text-align: right;
    color:#551a8b ;
}

.texto{
    text-align: right;
  
}

.deslocamento{
  margin-left: 100px;
}

.duvida .clientes{
    color:#551a8b ;
}

.msg1,
.msg2,
.msg3,
.msg4,
.msg5{
    resize:none;
    width: 800px;
    height: 160px;
    padding-left: 500px;
 
}

label{
    font-family: sans-serif;
    color: blueviolet;
    font-weight: bold;
}


.enviar{
   position: relative;
   text-align: right;
}

.hidden{
    display: none;
}
.resumo{
    background-color: rebeccapurple;
    color: black;
    margin-top: 10%;
}